# ================================================
# .ENV.EXAMPLE — Modèle de configuration
# Copie ce fichier en .env et remplis les valeurs
# ================================================

POSTGRES_DB=time_manager_dev
POSTGRES_USER=
POSTGRES_PASSWORD=

PORT=4000
NODE_ENV=development
JWT_SECRET=
JWT_EXPIRES_IN=24h
BCRYPT_ROUNDS=10

DB_HOST=db
DB_PORT=5432
DB_NAME=time_manager_dev
DB_USER=
DB_PASSWORD=