# Dépendances (très lourd, inutile d'envoyer sur GitHub)
node_modules/
*/node_modules/

# Variables d'environnement (contient des mots de passe !)
.env
.env.local
.env.production

# Fichiers système
.DS_Store           # Mac
Thumbs.db           # Windows

# Logs (fichiers de débogage)
*.log
logs/

# Dossiers de build (fichiers générés automatiquement)
dist/
build/